<html>
        <head>
            <title>Survey Form</title>
            {% load static %}
                    <meta name="description" content="survey...">      
                    <link rel="stylesheet" href="{% static 'surveyapp/css/surveyapp.css' %}" media="screen" title="no title"  charset="utf-8"> 
                </head>
            <body>
                    {% block content %}

                <div id="wrapper">
                <h1>Dojo Survey</h1></span>
                    <form action='/result' method='POST'>
                        {% csrf_token %}
                        <!-- right here, because there is no session['counter'] yet -->
                        Your Name: <input type='text' name="name"><br><br>
                        Dojo Location: <select name="cities">
                                <option value="none">None</option>
                                <option value="cupertino">Cupertino</option>
                                <option value="oakland">Oakland</option>
                                <option value="sanfrancisco">San Francisco</option>
                                <option value="sanjose">San Jose</option>
                                </select><br><br>
                        Favorite Language: <select name="language">
                                <option value="None">None</option>
                                <option value="asl">American Sign Language</option>
                                <option value="chinese">Chinese</option>
                                <option value="french">French</option>
                                <option value="japanese">Japanese</option>
                                </select><br><br>
                        Comment (optional):<br>
                        <textarea name="comment"></textarea><br><br>
                        <input type='submit' value='submit'>
                    </form>
                </div>
                    {% endblock %}
            </body>
        </html>